body {
    background-image: url(images/header-bg.png);
    background-size: 100%;
}

.carousel .carousel-indicators li {
    background-color: green;
}

.carousel .carousel-indicators li.active {
    background-color: red;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    padding: 10px 20px;
    background-color: rgb(236, 240, 245);
}

.carousel-item p {
    padding: 10px 0px;
}

.button-buy-now {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

.price {
    color: black;
    font-weight: bold;
    padding: 10px 10px;
}

.card img {
    width: 60%;
    padding-top: 20px;
}

.heading {
    padding: 30px 10px;
}

.heading hr {
    width: 250px;
    border: 3px solid rgb(153, 152, 149);
    /* margin: 0px; */
}

.navbar1 {
    background: rgba(120, 131, 122, 0.644);
    background: rgba(215, 228, 216, 0.5);
    color: #ebf1eb;
}

.w-100 {
    height: 100vh;
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    /* text-transform: uppercase; */
    /* letter-spacing: 0.1em; */
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

@media only screen and (min-width:768px)and (max-width:991px) {
    .carousel-caption p {
        font-size: 1.2em;
    }
    .ml12 {
        position: absolute;
        bottom: 400px;
    }
}

@media only screen and (max-width:767px) {
    .navbar-nav.ml-auto {
        background: rgba(197, 203, 221, 0.5);
    }
    .navbar-nav a {
        font-size: 14px;
    }
    .carousel-caption .ml12 {
        padding-bottom: 10px;
        font-size: 1.2em;
    }
    .carousel-caption p {
        font-size: 1.2em;
    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-whatsapp {
    background: #336828;
    color: white;
}